/* Styling for general tags */
body {
    background: url(./officebackground.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }

  /* Styling for classes */
  .lead {
    font-size: 2rem;
    font-weight: bolder;
  }

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: #04116bad;
    border-radius: 0;
    border-bottom: 10px solid #04116bad;
  }
  
  .description {
    font-weight: bolder;
    text-align: center;
    white-space: pre-wrap;
  }
  
  .time-block {
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #04116bad;
  }
  
  .past {
    background-color: #d3d3d3a3;
    color: white;
  }
  
  .present {
    background-color: #ff6961a3;
    color: white;
  }
  
  .future {
    background-color: #77dd77a3;
    color: white;
  }
  
  .saveBtn {
    font-size: 25px;
    border-left: 1px solid #04116bad;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5a3;
    color: white;
  }
  
  /* Styling for button hover */
  .saveBtn i:hover {
    color: #000000;
    font-size: 40px;
    transition: all 0.3s ease-in-out;
  }

  .saveBtn:hover {
    color: #000000;
    background-color: rgb(201, 37, 146);
  }
  
  @media screen and (max-width: 768px), screen and (max-width: 575px) { 
    .row {
      height: auto;
      margin-top: 10px;
    }

    .saveBtn {
      border: 0;
      border-radius: 0.25rem;
      height: 40px;
    }

    textarea {
      min-height: 80px;
      border: 0;
    }

    i {
      font-size: 30px;
    }
  }